In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data from CSV file
data= pd.read_csv("/kaggle/input/openaddresses-asia-and-oceania/australia.csv",low_memory=False)
data.head(3)

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,149.137753,-35.415987,14,Watterson Place,NaN,NaN,TUGGERANONG,NaN,NaN,NaN,NaN
1,149.044164,-35.245836,29,Springvale Drive,NaN,NaN,BELCONNEN,NaN,NaN,NaN,NaN
2,149.154625,-35.242837,8,Andrews Street,NaN,NaN,CANBERRA CENTRAL,NaN,NaN,NaN,NaN

In [3]:
# Displays a concise summary of the DataFrame, including the number of non-null values and data types of each column.
data.info()

# Displays the first three rows of the DataFrame.
data.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20632875 entries, 0 to 20632874
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   LON       float64
 1   LAT       float64
 2   NUMBER    object
 3   STREET    object
 4   UNIT      object
 5   CITY      object
 6   DISTRICT  object
 7   REGION    object
 8   POSTCODE  float64
 9   ID        float64
 10  HASH      object
dtypes: float64(4), object(7)
memory usage: 1.7+ GB

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE,ID,HASH
0,149.137753,-35.415987,14,Watterson Place,NaN,NaN,TUGGERANONG,NaN,NaN,NaN,NaN
1,149.044164,-35.245836,29,Springvale Drive,NaN,NaN,BELCONNEN,NaN,NaN,NaN,NaN
2,149.154625,-35.242837,8,Andrews Street,NaN,NaN,CANBERRA CENTRAL,NaN,NaN,NaN,NaN

In [4]:
# checking for missing values in the dataframe
data.isna().sum()

LON                0
LAT                0
NUMBER        889235
STREET         33521
UNIT        16459867
CITY         6076233
DISTRICT    20456745
REGION       6218913
POSTCODE     6220690
ID          20370267
HASH          176130
dtype: int64

In [5]:
# Drop columns 'ID' and 'HASH' from the dataframe
data=data.drop(['ID','HASH'],axis=1)

In [6]:
# Print out the number of missing values in each column
data.isna().sum()

LON                0
LAT                0
NUMBER        889235
STREET         33521
UNIT        16459867
CITY         6076233
DISTRICT    20456745
REGION       6218913
POSTCODE     6220690
dtype: int64

In [7]:
# Drop rows with missing values in columns 'UNIT', 'CITY', 'DISTRICT', 'REGION', and 'POSTCODE'
data.dropna(axis='index',how ='all',subset=['UNIT','CITY','DISTRICT','REGION','POSTCODE'],inplace=True)

In [8]:
# Drop rows with missing values in columns 'UNIT', 'CITY', and 'POSTCODE'
data.dropna(axis='index',how ='all',subset=['UNIT','CITY','POSTCODE'],inplace=True)

# Print the new shape of the dataframe
data.shape

(14556642, 9)

In [9]:
# Drop rows with missing values in columns 'UNIT', 'CITY', and 'POSTCODE'
data.dropna(axis='index',how ='all',subset=['UNIT','CITY','POSTCODE'],inplace=True)

# Print the new shape of the dataframe
data.shape

(14556642, 9)

In [10]:
data.dropna(axis='index',how ='all',subset=['UNIT','DISTRICT'],inplace=True)
data

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,NaN,ACT,2611.0
176132,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 17,COOMBS,NaN,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,NaN,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,NaN,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,NaN,SA,5211.0
...,...,...,...,...,...,...,...,...,...
17205887,147.175453,-41.416169,2,BLYTH STREET,UNIT 4,RAVENSWOOD,NaN,TAS,7250.0
17205888,147.175329,-41.416352,2,BLYTH STREET,UNIT 2,RAVENSWOOD,NaN,TAS,7250.0
17205889,147.175407,-41.416436,2,BLYTH STREET,UNIT 15,RAVENSWOOD,NaN,TAS,7250.0
17205890,147.175667,-41.416391,2,BLYTH STREET,UNIT 17,RAVENSWOOD,NaN,TAS,7250.0
17205891,147.175759,-41.416344,2,BLYTH STREET,UNIT 19,RAVENSWOOD,NaN,TAS,7250.0

In [11]:
data.isna().sum()

LON               0
LAT               0
NUMBER         4932
STREET            0
UNIT              0
CITY              0
DISTRICT    4173008
REGION       142680
POSTCODE     142707
dtype: int64

In [12]:
# drop rows with missing values in columns 'UNIT' and 'DISTRICT'
data.dropna(axis='index',how ='all',subset=['DISTRICT','REGION','POSTCODE'],inplace=True)

In [13]:
data.shape

(4030328, 9)

In [14]:
data.isna().sum()

LON               0
LAT               0
NUMBER         4932
STREET            0
UNIT              0
CITY              0
DISTRICT    4030328
REGION            0
POSTCODE         27
dtype: int64

In [15]:
# drop rows with missing values in columns 'NUMBER' and 'DISTRICT'
data.dropna(axis='index',how ='all',subset=['NUMBER','DISTRICT',],inplace=True)

In [16]:
data.isna().sum()

LON               0
LAT               0
NUMBER            0
STREET            0
UNIT              0
CITY              0
DISTRICT    4025396
REGION            0
POSTCODE         25
dtype: int64

In [17]:
data.dropna(axis='index',how ='all',subset=['DISTRICT','POSTCODE'],inplace=True)

In [18]:
data.isna().sum()

LON               0
LAT               0
NUMBER            0
STREET            0
UNIT              0
CITY              0
DISTRICT    4025371
REGION            0
POSTCODE          0
dtype: int64

In [19]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,DISTRICT,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,NaN,ACT,2611.0
176132,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 17,COOMBS,NaN,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,NaN,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,NaN,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,NaN,SA,5211.0

In [20]:
# Drop the 'DISTRICT' column from the dataframe
data.drop('DISTRICT', axis=1, inplace=True)

In [21]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,ACT,2611.0
176132,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 17,COOMBS,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,SA,5211.0

In [22]:
data.shape

(4025371, 8)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4025371 entries, 176130 to 17205891
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   LON       float64
 1   LAT       float64
 2   NUMBER    object
 3   STREET    object
 4   UNIT      object
 5   CITY      object
 6   REGION    object
 7   POSTCODE  float64
dtypes: float64(3), object(5)
memory usage: 276.4+ MB

In [24]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,ACT,2611.0
176132,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 17,COOMBS,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,SA,5211.0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4025371 entries, 176130 to 17205891
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   LON       float64
 1   LAT       float64
 2   NUMBER    object
 3   STREET    object
 4   UNIT      object
 5   CITY      object
 6   REGION    object
 7   POSTCODE  float64
dtypes: float64(3), object(5)
memory usage: 276.4+ MB

In [26]:
# Count the number of occurrences of each unique value in the 'REGION' column of the 'data' dataframe
data['REGION'].value_counts()

# Print the results of the value_counts() method
print(data['REGION'].value_counts())

NSW    1540462
VIC     964884
QLD     813554
WA      320076
SA      188958
TAS      84733
ACT      74335
NT       37935
OT         434
Name: REGION, dtype: int64

In [27]:
# Drop duplicates based on all columns of the dataframe
data.drop_duplicates(keep='first', subset=None, inplace=True)

In [28]:
data.shape

(3913421, 8)

In [29]:
data['REGION'].value_counts()

NSW    1525394
VIC     908401
QLD     809692
WA      302125
SA      187534
ACT      73357
TAS      68592
NT       37924
OT         402
Name: REGION, dtype: int64

In [30]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,ACT,2611.0
176132,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 17,COOMBS,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,SA,5211.0

In [31]:
# Drop duplicates based on columns 'NUMBER' and 'STREET'
data.drop_duplicates(subset=['NUMBER', 'STREET'], keep='first', inplace=True)

In [32]:
data.shape

(441795, 8)

In [33]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,SA,5211.0
176138,149.064437,-35.258771,27,LYTTLETON CRESCENT,UNIT 3,COOK,ACT,2614.0

In [34]:
data['REGION'].value_counts()

NSW    148088
VIC    124080
QLD     85141
WA      32552
SA      29981
TAS     12135
ACT      5522
NT       4235
OT         61
Name: REGION, dtype: int64

In [35]:
data.shape

(441795, 8)

In [36]:
# Remove rows where the 'REGION' column has the value 'OT'
data = data[~data.REGION.isin(['OT'])]

In [37]:
data.shape

(441734, 8)

In [38]:
data.head()

,LON,LAT,NUMBER,STREET,UNIT,CITY,REGION,POSTCODE
176130,149.040149,-35.321495,60,JOHN GORTON DRIVE,UNIT 39,COOMBS,ACT,2611.0
176135,140.349443,-37.598421,97,WILLIAMS ROAD,UNIT 5,MILLICENT,SA,5280.0
176136,149.083158,-35.415716,11,STEFFANONI CIRCUIT,UNIT 13,MONASH,ACT,2904.0
176137,138.623021,-35.552118,72-74,OCEAN STREET,UNIT 4,VICTOR HARBOR,SA,5211.0
176138,149.064437,-35.258771,27,LYTTLETON CRESCENT,UNIT 3,COOK,ACT,2614.0

In [39]:
new_col=['UNIT','NUMBER','STREET','CITY','REGION','POSTCODE','LAT','LON']
data=data[new_col]

In [40]:
data.reset_index(inplace=True)

In [41]:
data

,index,UNIT,NUMBER,STREET,CITY,REGION,POSTCODE,LAT,LON
0,176130,UNIT 39,60,JOHN GORTON DRIVE,COOMBS,ACT,2611.0,-35.321495,149.040149
1,176135,UNIT 5,97,WILLIAMS ROAD,MILLICENT,SA,5280.0,-37.598421,140.349443
2,176136,UNIT 13,11,STEFFANONI CIRCUIT,MONASH,ACT,2904.0,-35.415716,149.083158
3,176137,UNIT 4,72-74,OCEAN STREET,VICTOR HARBOR,SA,5211.0,-35.552118,138.623021
4,176138,UNIT 3,27,LYTTLETON CRESCENT,COOK,ACT,2614.0,-35.258771,149.064437
...,...,...,...,...,...,...,...,...,...
441729,17205674,UNIT 1,703,WEST TAMAR,LEGANA,TAS,7277.0,-41.378890,147.058006
441730,17205678,UNIT 1,27,RIVERBANK PLACE,RIVERSIDE,TAS,7250.0,-41.400033,147.088151
441731,17205765,UNIT 11,82,WARING STREET,RAVENSWOOD,TAS,7250.0,-41.409678,147.166719
441732,17205769,UNI,2,WESTRINGIA COURT,ROCHERLEA,TAS,7248.0,-41.377457,147.135171
441733,17205786,UNIT 1,17,BLACKWOOD,ROCHERLEA,TAS,7248.0,-41.376090,147.137768

In [42]:
data.drop('index',axis=1,inplace=True)

In [43]:
data.sample()

,UNIT,NUMBER,STREET,CITY,REGION,POSTCODE,LAT,LON
277379,UNIT 9,744,NEW SOUTH HEAD ROAD,ROSE BAY,NSW,2029.0,-33.868612,151.269875

In [44]:
data.columns=data.columns.str.lower()

In [45]:
data

,unit,number,street,city,region,postcode,lat,lon
0,UNIT 39,60,JOHN GORTON DRIVE,COOMBS,ACT,2611.0,-35.321495,149.040149
1,UNIT 5,97,WILLIAMS ROAD,MILLICENT,SA,5280.0,-37.598421,140.349443
2,UNIT 13,11,STEFFANONI CIRCUIT,MONASH,ACT,2904.0,-35.415716,149.083158
3,UNIT 4,72-74,OCEAN STREET,VICTOR HARBOR,SA,5211.0,-35.552118,138.623021
4,UNIT 3,27,LYTTLETON CRESCENT,COOK,ACT,2614.0,-35.258771,149.064437
...,...,...,...,...,...,...,...,...
441729,UNIT 1,703,WEST TAMAR,LEGANA,TAS,7277.0,-41.378890,147.058006
441730,UNIT 1,27,RIVERBANK PLACE,RIVERSIDE,TAS,7250.0,-41.400033,147.088151
441731,UNIT 11,82,WARING STREET,RAVENSWOOD,TAS,7250.0,-41.409678,147.166719
441732,UNI,2,WESTRINGIA COURT,ROCHERLEA,TAS,7248.0,-41.377457,147.135171
441733,UNIT 1,17,BLACKWOOD,ROCHERLEA,TAS,7248.0,-41.376090,147.137768

In [46]:
data.isnull().sum()

unit        0
number      0
street      0
city        0
region      0
postcode    0
lat         0
lon         0
dtype: int64

In [47]:
data.dropna(inplace=True)

In [48]:
data.isnull().sum()

unit        0
number      0
street      0
city        0
region      0
postcode    0
lat         0
lon         0
dtype: int64

In [49]:
data.shape

(441734, 8)

In [50]:
data[data.duplicated()]

Empty DataFrame
Columns: [unit, number, street, city, region, postcode, lat, lon]
Index: []

In [51]:
data[['lat','lon']]=data[['lat','lon']].round(3)

In [52]:
data.head()

,unit,number,street,city,region,postcode,lat,lon
0,UNIT 39,60,JOHN GORTON DRIVE,COOMBS,ACT,2611.0,-35.321,149.040
1,UNIT 5,97,WILLIAMS ROAD,MILLICENT,SA,5280.0,-37.598,140.349
2,UNIT 13,11,STEFFANONI CIRCUIT,MONASH,ACT,2904.0,-35.416,149.083
3,UNIT 4,72-74,OCEAN STREET,VICTOR HARBOR,SA,5211.0,-35.552,138.623
4,UNIT 3,27,LYTTLETON CRESCENT,COOK,ACT,2614.0,-35.259,149.064

In [53]:
data

,unit,number,street,city,region,postcode,lat,lon
0,UNIT 39,60,JOHN GORTON DRIVE,COOMBS,ACT,2611.0,-35.321,149.040
1,UNIT 5,97,WILLIAMS ROAD,MILLICENT,SA,5280.0,-37.598,140.349
2,UNIT 13,11,STEFFANONI CIRCUIT,MONASH,ACT,2904.0,-35.416,149.083
3,UNIT 4,72-74,OCEAN STREET,VICTOR HARBOR,SA,5211.0,-35.552,138.623
4,UNIT 3,27,LYTTLETON CRESCENT,COOK,ACT,2614.0,-35.259,149.064
...,...,...,...,...,...,...,...,...
441729,UNIT 1,703,WEST TAMAR,LEGANA,TAS,7277.0,-41.379,147.058
441730,UNIT 1,27,RIVERBANK PLACE,RIVERSIDE,TAS,7250.0,-41.400,147.088
441731,UNIT 11,82,WARING STREET,RAVENSWOOD,TAS,7250.0,-41.410,147.167
441732,UNI,2,WESTRINGIA COURT,ROCHERLEA,TAS,7248.0,-41.377,147.135
441733,UNIT 1,17,BLACKWOOD,ROCHERLEA,TAS,7248.0,-41.376,147.138

In [54]:
data.rename(columns={'unit':'unit_type','city':'suburb'},inplace=True)

In [55]:
data.head()

,unit_type,number,street,suburb,region,postcode,lat,lon
0,UNIT 39,60,JOHN GORTON DRIVE,COOMBS,ACT,2611.0,-35.321,149.040
1,UNIT 5,97,WILLIAMS ROAD,MILLICENT,SA,5280.0,-37.598,140.349
2,UNIT 13,11,STEFFANONI CIRCUIT,MONASH,ACT,2904.0,-35.416,149.083
3,UNIT 4,72-74,OCEAN STREET,VICTOR HARBOR,SA,5211.0,-35.552,138.623
4,UNIT 3,27,LYTTLETON CRESCENT,COOK,ACT,2614.0,-35.259,149.064

In [56]:
data.shape

(441734, 8)

In [57]:
data.to_csv("Australia Address.csv")